@charset 'utf-8';


.back{
    background-color:#F4F4F4;
	background-image: url(back1.png);
	background-size: 1366px 768px;
	background-attachment: fixed;
}
.center{
    margin: 0;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top:50%;
    padding: 20px;
    background-color: white;
    max-width: 500px;
	border-radius: 3px; 
}

.center h1{
    font-family: 'Arial';
}
label{
	font-family: 'Calibri';
    color:black;
}
input{
	width: 100%;
	border-color: black;
	height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius:3px;
}

