<DOCTYPE html!>
<html>
<head>
<title>Entrar</title>
<link rel='stylesheet' href='estilo.css' />
</head>
<body class='back'>

<img src='dbq.png' width='350px' ></img>

<div class='center'>

<h1 align='center'>Entrar</h1>

<form method='POST' action=''>
	
	<label for='name'>Nome de Usuário ou Email:</label>
	<input type='text' maxlength='128'id='name' name='name' class='register' placeholder='Nome de Usuário ou Email' value='{{name}}' required>
	
	<label for='password'>Senha:</label>
	<input type='password' name='password' id='password' class='register' placeholder='Senha' required>
	
	<table><tr><td width='100%'><td>
	<button type='submit' id='register'>Confirmar</button>
	</td></td></tr></table>

</form>

</div>
</body>
</html>