<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="stylesheet" href="estilo.css">
    <title>DragonQuiz</title>
</head>

<body>

    <div class="Menu">
        <div class="row MenuTitle">
            <h2 style="margin: 0; padding: 0;">DragonQuiz</h2>
            <h5 style="margin: 0; padding: 0;">Um quiz de DragonBall</h5>
        </div>


        <div class="options">
            {% if $cookie['isAdmin'] == 'true' %}
                <button class="optionButton"><a href="/jogo">Começar</a></button>
                <button class="optionButton"><a href="/raking">Ranking</a></button>
                <button class="optionButton"><a href="/admin">Adicionar pergunta</a></button>
            {% endif %}

            {% if $cookie['isAdmin'] == 'false' %}
                <button class="optionButton"><a href="/jogo">Começar</a></button>
                <button class="optionButton"><a href="/raking">Ranking</a></button>
            {% endif %}
        </div>
    </div>

</body>

</html>