<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="stylesheet" href="estilo.css">
    <title>DragonQuiz</title>
</head>

<body>

    <div class="Menu">
        <div class="row MenuTitle">
            <img src='dbq.png' style="margin: 0; padding: 0;" width='350px' align='center'></img>
            <h5 style="margin: 0; padding: 0;" align="center">Um quiz de DragonBall</h5>
			<p></p>
			<h1 align='center' style='margin-top: 30%;'>Bem-Vindo {{name}}!</h1>
        </div>


        <div class="options">
            
                <button class="optionButton"><a href="/game">Começar</a></button>
                <button class="optionButton"><a href="/raking">Ranking</a></button>
            {% if isAdmin == true %}
                <button class="optionButton"><a href="/admin">Adicionar pergunta</a></button>
            {% endif %}
                <button class="optionButton" style=' margin-bottom:50%;'><a href="/logout">Sair</a></button>
        </div>
    </div>

</body>

</html>