<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Perguntas e Respostas</title>
</head>
<body>
    <div class="container-fluid">
        <form method="POST" action="">
            <label>
                <h1>{{ question.getQuestion() }}</h1>
            </label>

            <br>

            {% for answer in answers %}
                <input type="radio" id="answer" name="answer" value="{{ answer.getId() }}">

                <label for="answer">
                    {{ answer.getAnswer() }}
                </label>

                <br>
            {% endfor %}

            <input class="btn btn-success" type="submit">
        </form>
    </div>
</body>
</html>