<DOCTYPE html!>
<html>
<head>
<title>Cadastre-se</title>
</head>
<body>

<form method='POST' action=''>
	
	<label for='name'>Nome de Usuário:</label>
	<input type='text' id='name' name='name' placeholder='Username' value='{{name}}' required>
	
	<label for='email'>Email:</label>
	<input type='text' id='email' name='email' placeholder='Email' value='{{email}}' required>
	
	<label for='password'>Senha:</label>
	<input type='password' name='password' id='password' placeholder='Senha' value='{{password}}' required>
	
	<label for='cpassword'>Confirmar Senha:</label>
	<input type='password' name='cpassword' id='cpassword' placeholder='Confirmar Senha' value='{{cpassword}}' required>
	
	<input type='submit' id='register'/>



</form>

</body>
</html>