<DOCTYPE html!>
<html>
<head>
<title>Cadastre-se</title>
<link rel='stylesheet' href='estilo.css' />
</head>
<body class='back'>
<img src='dbq.png' width='350px' ></img>

<div class='center'>

<h1 align='center'>Cadastre-se</h1>
<form method='POST' action=''>
	
	<label for='name'>Nome de Usuário:</label>
	<input type='text' maxlength='128'id='name' name='name' placeholder='Username' value='{{name}}' required>
	
	<label for='email'>Email:</label>
	<input type='text' maxlength='128' id='email' name='email' placeholder='Email' value='{{email}}' required>
	
	<label for='password'>Senha:</label>
	<input type='password' name='password' id='password' placeholder='Senha' required>
	
	<label for='cpassword'>Confirmar Senha:</label>
	<input type='password' name='cpassword' id='cpassword' placeholder='Confirmar Senha' required>
	<table><tr><td width='100%'><td>
	<button type='submit' id='register'>Confirmar</button>
	</td></td></tr></table>


</form>
</div>
</body>
</html>
